{% extends 'base.html' %}

{% block corpo %}

<p>Notas e Faltas dos Alunos</p>
<table border="1">
	<tr>
		<td>Aluno</td>
		<td>Nota 1</td>
		<td>Nota 2</td>
		<td>Exame</td>
		<td>Faltas</td>
		<td>Editar</td>
	</tr>
	{% for alunos in lista_disciplinasAlunos %}
	<tr>
		<td>{{ alunos.aluno_id.nome }}</td>
		<td>{{ alunos.nota1 }}</td>
		<td>{{ alunos.nota2 }}</td>
		<td>{{ alunos.exame }}</td>
		<td>{{ alunos.falta }}</td>
		<td><a href="/professor/nota/aluno/{{ alunos.id }}/">Editar</a></td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="6">Nenhum alunos até o momento.</td>
	</tr>
	{% endfor %}
</table>

<p><a href="../">Voltar</a></p>
{% endblock %}